.master-category-name{
    color: #7a260d;
    font-size: 17px;
    font-weight: bold;
}
.sub-category-name{
    /* color: #07033a; */
    font-size: 17px;
    padding-left: 35px;
    /* font-weight: bold; */
}
.tip-detail-name{
    /* color: #07033a; */
    font-size: 15px;
    padding-left: 50px;
    /* font-weight: bold; */
}
.deteted{
    color: #ec0e0e !important;
    text-decoration: line-through;
    background-color: rgb(223, 216, 230);
    /* font-weight: bold; */
}
.input-name{
    width: 50%;
    height: 100px;
}
.right-block{
    float: right;
    display: block;
}
.buton-transparent{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: darkorange;
}
.button-blue{
    background-color:darkblue ;
}
.icon-inlink{
    color: darkorange;
    font-size: 14px;
    padding-left: 10px;
}
.inline{
    display: inline;
}
#title-edit-type{
    font-size: 18px;
    color: rgb(192, 21, 21);
    padding-left: 10px 10px 10px 10px;
}
.tip-name{
    font-weight: bold;
    font-size: 20px !important;
    color: rgb(167, 7, 7);
}
.tip-updateDate{
   font-style: italic;
   color: rgb(15, 22, 124);
}
/* editor */
.ck-editor__editable {
    min-height: 400px;
    font-size: 15px !important;
    font-weight: bold;
  }